.container {
  flex: 1;
  // background: chartreuse;
  display: flex;
  align-items: stretch;
  width: 100%;
  position: relative;
  overflow: hidden;

  h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
    text-align: center;
    font-weight: 400;
    font-family: var(--bebas);
    font-size: 403px;
    line-height: 330px;
  }

  @media(max-width: 1100px) {
    h1 {
      letter-spacing: 2px;
      font-size: 36vw;
    }
  }

  @media(max-width: 650px) {
    h1 {
      top: -7rem;
      font-size: 38vw;
      letter-spacing: 0;
    }
  }
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0.75rem;
  // background: blue;
  margin-right: 1.5rem;

  svg {
    color: var(--primary);
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.4s all;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  @media(max-width: 650px) {
    display: none;
    visibility: hidden;
  }
}

.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  // background: red;

  article {
    flex: 1;
    display: flex;
    align-items: center;

    @media (max-width: 1100px) {
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
}

.info-and-bag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  max-width: 240px;
  margin-right: 4.625rem;

  h3 {
    font-size: 3.125rem;
    line-height: 3.75rem;
    font-family: var(--bebas);
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;

    margin: 0 0 1rem;
  }

  button {
    position: relative;
    border: 0;
    padding: 0.5rem 0.675rem;
    background: var(--orange);
    border-radius: 2rem;

    height: 50px;
    max-width: 50px;
    overflow: hidden;
    transition: all 0.4s;
    
    &::before {
      content: 'ADD TO BAG';
      display: flex;
      align-items: center;
      width: 140px;
      opacity: 0.4;
      transition: all 0.4s;
    }

    &:hover {
      max-width: 200px;

      &::before {
        opacity: 1;
      }
    }

    span {
      position: absolute;
      top: 8px;
      right: 7px;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.125rem;
      height: 2.125rem;
      border-radius: 50%;
      background: var(--primary);

      svg {
        width: 1.5rem;
        height: 1.5rem;
        color: var(--black);
      }
    }
  }

  @media(max-width: 1100px) {
    align-items: center;
    max-width: 100%;
    margin-right: 0;
    // margin-top: 3rem;

    h3 {
      font-size: 2.5rem;
      line-height: 3.25rem;
    }

    h4 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  @media(max-width: 768px) {
    margin-top: 1rem;

    h3, h4 {
      display: none;
      visibility: hidden;
    }

    button {
      display: flex;
      align-items: center;
      // width: 400px;
      max-width: 100%;
      border-radius: 0.5rem;
      padding: 0 1rem;
      height: 3rem;

      &::before {
        opacity: 1;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 0.875rem;
        width: 100px;
      }

      span {
        top: 0;
        right: 0;
        position: relative;
        margin: auto 0;

        width: 1.75rem;
        height: 1.75rem;
  
        svg {
          width: 1.125rem;
          height: 1.125rem;
        }
      }
    }
  }
}

.info-and-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1126px;

  img {
    width: auto;
    height: auto;
  }

  h2 {
    font-weight: 600; 
    font-size: 1.5rem;
    margin: 0.625rem 0 1.5rem;
  }

  .controll {
    display: flex;
    gap: 1rem;

    span {
      display: flex;
      position: relative;

      width: 2rem;
      height: 2rem;
      opacity: 0.6;
      border-radius: 50%;
      background: transparent;

      &.active {
        opacity: 1;
        border: 1px solid var(--primary);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        margin: auto;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: var(--primary);

        transform: scale(0.6);
        transition: 0.4s all;
      }

      &.active::before {
        transform: scale(1);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media(max-width: 1100px) {
    img {
      width: 500px;
    }
  }

  @media(max-width: 768px) {
    h2 {
      margin: 2rem 0 1rem;
    }
  }

  @media(max-width: 650px) {
    img {
      margin-top: 0m;
      order: 1;
      width: 95%;
    }

    .controll {
      order: 2;
      margin: 0.5rem 0 1rem;
    }

    h2 {
      order: 3;
      font-size: 1.25rem;
      text-align: center;
      margin: 0;
    }
  }
}

.fade-out {
  transition: all 0.5s;

  opacity: 0;
  transform: translateX(-50vw);
}

.fade-in {
  animation: animationFadeIn 0.5s;

  @keyframes animationFadeIn {
    from {
      opacity: 0;
      transform: translateX(50vw);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.languages {
  display: flex;
  justify-content: flex-end;

  ul {
    list-style: none;

    display: flex;
    align-items: center;
    
    li {
      display: flex;
      align-items: center;

      font-size: 1rem;

      & + li {
        margin-left: 0.75rem;

        &::before {
          content: '';
          display: block;

          width: 1px;
          height: 0.375rem;
          background: var(--primary);
          margin-right: 0.75rem;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}