.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 3.625rem;

  img {
    width: 85px;
    height: auto;
  }

  @media(max-width: 1100px) {
    margin-bottom: 1.5rem;

    img {
      width: 60px;
    }
  }

  @media(max-width: 650px) {
    position: relative;
    justify-content: flex-start;

    img {
      width: 50px;
      z-index: 3;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;

      background: rgba(24, 12, 5, 0.99);

      width: 100vw;
      height: 100vh;

      display: flex;
      align-items: center;
      justify-content: center;
      
      transform: translateY(-100vh);

      transition: transform 0.6s;

      &.active {
        transform: translateY(0vh);
      }
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 1.75rem;

  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.25rem;
    opacity: 0.8;

    transition: 0.4s all;

    &::after {
      content: '';
      display: block;
      margin-top: 0.125rem;

      width: 0;
      height: 1px;
      background: var(--primary);

      transition: 0.4s width;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;

      &::after {
        width: 40%;
      }
    }
  }

  @media(max-width: 1100px) {
    li {
      font-size: 1.125rem;
    }
  }

  @media(max-width: 650px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.cart {
  position: relative;
  background: transparent;

  span {
    position: absolute;
    top: -10px;
    right: -10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 30px;
    border-radius: 14px;
    background: crimson;
    border: 3px solid var(--background);
    
    color: var(--primary);
    font-size: 0.875rem;
    font-weight: 700;

    @media(max-width: 1100px) {
      width: 30px;
      height: 26px;
    }
  }

  @media(max-width: 650px) {
    margin-left: auto;
    margin-right: 1rem;

    svg {
      width: 24px;
      height: auto;
    }

    span {
      top: -7px;
      width: 26px;
      height: 22px;
      
      font-size: 0.75rem;
    }
  }
}

.toggle-mobile {
  visibility: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.25rem;

  border: 0;
  height: 20px;
  background: transparent;
  
  z-index: 3;

  span {
    display: block;
    height: 1px;
    background: var(--primary);

    transition: 0.4s all;
    
    &:first-child {
      width: 20px;
    }
  
    &:last-child {
      width: 14px;
    }
  }

  &.toggle-active span{
    &:first-child {
      transform: rotate(45deg) translate(1.5px, 0);
    }
  
    &:last-child {
      width: 20px;
      transform: rotate(-45deg) translate(3px, -2px)
    }
  }

  @media(max-width: 650px) {
    display: flex;
    visibility: visible;
  }
}