.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 3.625rem;

  img {
    width: 85px;
    height: auto;
  }
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 1.75rem;

  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.25rem;
    opacity: 0.8;

    transition: 0.4s all;

    &::after {
      content: '';
      display: block;
      margin-top: 0.125rem;

      width: 0;
      height: 1px;
      background: var(--primary);

      transition: 0.4s width;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;

      &::after {
        width: 40%;
      }
    }
  }
}

.cart {
  position: relative;
  background: transparent;

  span {
    position: absolute;
    top: -10px;
    right: -10px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 30px;
    border-radius: 14px;
    background: crimson;
    border: 3px solid var(--background);
    
    color: var(--primary);
    font-size: 0.875rem;
    font-weight: 700;
  }
}