.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 0.75rem;

  margin-right: 1.5rem;

  svg {
    color: var(--primary);
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.4s all;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  @media(max-width: 650px) {
    flex-direction: row;
    margin-right: 0;
    gap: 1rem;

    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}